{%if datasall%}
<div class="col-md-3">
    <div class="form-group">
        <label>Product Name</label>
        <div class="input-group">

            <select class="form-control select2" name="p_name" >
                <option value="{{a.Product_Name.id}}">{{a.Product_Name}}</option>
                {%for x in products%}
                <option value="{{x.id}}">{{x.Product_Name}}</option>
                {%endfor%}
            </select>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <label>Employees Name</label>
        <div class="input-group">

            <select class="form-control select2" name="s_name">
                <option value="{{a.Product_Employees_Name.id}}">{{a.Product_Employees_Name.Employees_Name}}</option>
                {%for p in employees%}
                <option value="{{p.id}}">{{p.Employees_Name}}</option>
                {%endfor%}
            </select>
        </div>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <label>Quantity</label>
        <div class="input-group">

            <input type="text" class="form-control phone-number" name="qtt" value="{{a.Quantity}}">
        </div>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <label>Add</label>
        <div class="input-group">

            <button type="button" class=" btn btn-info"
                    hx-post="{%url 'invontory_product_issue_select'%}"
                    hx-target=".enterss" hx-swap="afterbegin"
                    style="height:40px;">
                +
            </button>
        </div>
    </div>
</div>
{%else%}
<div class="col-md-3">
    <div class="form-group">
        <label>Product Name</label>
        <div class="input-group">

            <select class="form-control select2" name="p_name" >
                <option>Select Designation</option>
                {%for x in products%}
                <option value="{{x.id}}">{{x.Product_Name}}</option>
                {%endfor%}
            </select>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <label>Employees Name</label>
        <div class="input-group">

            <select class="form-control select2" name="s_name">
                <option>Select Designation</option>
                {%for a in employees%}
                <option value="{{a.id}}">{{a.Employees_Name}}</option>
                {%endfor%}
            </select>
        </div>
    </div>
</div>


<div class="col-md-3">
    <div class="form-group">
        <label>Quantity</label>
        <div class="input-group">

            <input type="text" class="form-control phone-number" name="qtt">
        </div>
    </div>
</div>



<div class="col-md-3">
    <div class="form-group">
        <label>Add</label>
        <div class="input-group">

            <button type="button" class=" btn btn-info"
                    hx-post="{%url 'invontory_product_issue_select'%}"
                    hx-target=".enterss" hx-swap="afterbegin"
                    style="height:40px;">
                +
            </button>
        </div>
    </div>
</div>
{%endif%}

