{%for x in company_edit%}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        {%csrf_token%}
        <div class="card">
            <div class="card-header">
                <h4>Company Edit Information</h4>


            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Bill Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="Bnumber" value="{{x.id}}"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Company Information Edit</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="Cedit"
                                       value="{{x.Edits}}">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit"><i
                            class="fas fa-edit">
                        Update</i>
                    </button>


                </div>
            </div>
        </div>
    </div>

</div>
{%endfor%}
{%for x in branch_edit%}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        {%csrf_token%}
        <div class="card">
            <div class="card-header">
                <h4>Branch Edit Information</h4>


            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Bill Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="branchid" value="{{x.id}}"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Branch Information Edit</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="bedit"
                                       value="{{x.Edits}}">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit"><i
                            class="fas fa-edit">
                        Update</i>
                    </button>


                </div>
            </div>
        </div>
    </div>

</div>
{%endfor%}
{%for x in department_edit%}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        {%csrf_token%}
        <div class="card">
            <div class="card-header">
                <h4>Department Edit Information</h4>


            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Bill Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="Department_id" value="{{x.id}}"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Department Information Edit</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="Departemnt_edit"
                                       value="{{x.Edits}}">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit"><i
                            class="fas fa-edit">
                        Update</i>
                    </button>


                </div>
            </div>
        </div>
    </div>

</div>
{%endfor%}
{%for x in designation_edit%}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        {%csrf_token%}
        <div class="card">
            <div class="card-header">
                <h4>Designation Edit Information</h4>


            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Bill Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="Designation_id" value="{{x.id}}"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Designation Information Edit</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="Designation_edit"
                                       value="{{x.Edits}}">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit"><i
                            class="fas fa-edit">
                        Update</i>
                    </button>


                </div>
            </div>
        </div>
    </div>

</div>
{%endfor%}
{%for x in bank_edit%}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        {%csrf_token%}
        <div class="card">
            <div class="card-header">
                <h4>Bank Edit Information</h4>


            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Bill Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="Bank_id" value="{{x.id}}"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Bank Information Edit</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="Bank_edit"
                                       value="{{x.Edits}}">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit"><i
                            class="fas fa-edit">
                        Update</i>
                    </button>


                </div>
            </div>
        </div>
    </div>

</div>
{%endfor%}
{%for x in bank_branch_edit%}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        {%csrf_token%}
        <div class="card">
            <div class="card-header">
                <h4>Bank Branch Edit Information</h4>


            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Bill Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="Bank_branch_id" value="{{x.id}}"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Bank Branch Information Edit</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="Bank_branch_edit"
                                       value="{{x.Edits}}">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit"><i
                            class="fas fa-edit">
                        Update</i>
                    </button>


                </div>
            </div>
        </div>
    </div>

</div>
{%endfor%}
{%for x in product_edit%}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        {%csrf_token%}
        <div class="card">
            <div class="card-header">
                <h4>Product Edit Information</h4>


            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Bill Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="product_id" value="{{x.id}}"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Product Information Edit</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="product_edite"
                                       value="{{x.Edits}}">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit"><i
                            class="fas fa-edit">
                        Update</i>
                    </button>


                </div>
            </div>
        </div>
    </div>

</div>
{%endfor%}
{%for x in supplier_edit%}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        {%csrf_token%}
        <div class="card">
            <div class="card-header">
                <h4>Supplier Edit Information</h4>


            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Bill Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="supplier_id" value="{{x.id}}"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Supplier Information Edit</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="supplier_edite"
                                       value="{{x.Edits}}">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit"><i
                            class="fas fa-edit">
                        Update</i>
                    </button>


                </div>
            </div>
        </div>
    </div>

</div>
{%endfor%}
{%for x in product_purchase_edit%}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        {%csrf_token%}
        <div class="card">
            <div class="card-header">
                <h4>Product Purchase Edit Information</h4>


            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Invoice Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="product_purchase_inv" value="{{x.Invoice_no}}"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Product Purchase Information Edit</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="purchase_edite"
                                       value="{{x.Edits}}">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit"><i
                            class="fas fa-edit">
                        Update</i>
                    </button>


                </div>
            </div>
        </div>
    </div>

</div>
{%endfor%}
{%for x in product_issue_edit%}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        {%csrf_token%}
        <div class="card">
            <div class="card-header">
                <h4>Product Issue Edit Information</h4>


            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Invoice Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="product_issue_inv" value="{{x.Invoice_no}}"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Product Issue Information Edit</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-building"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control phone-number" name="issue_edite"
                                       value="{{x.Edits}}">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit"><i
                            class="fas fa-edit">
                        Update</i>
                    </button>


                </div>
            </div>
        </div>
    </div>

</div>
{%endfor%}