{%extends 'index.html'%}
{%load static%}
{%block contant%}
{%if datasall%}
{%for a in datasall%}

<section class="section">

    <div class="row ">
        <div class="col-md-12" style="margin-bottom:10px;">
            <form class="form-inline" action="{%url 'hr_department_info'%}" method="POST">
                {%csrf_token%}
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                >Search Bill
                </button>
            </form>
        </div>
    </div>


    <form method="POST">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                {%csrf_token%}
                <div class="card">
                    <div class="card-header">
                        <h4>Department Information</h4>


                    </div>
                    <div><h4 style="text-align:right; padding-right:10px;">Last Entry:{{bill}}</h4></div>

                    <div class="card-body">
                        <div class="row">
                            <div class="search-results col-md-12">
                                {%include 'hr/forms/message.html'%}
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Department Name</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control phone-number" name="Dname"
                                               value="{{a.Name}}">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="card-footer text-right">

                            {%if a.Edits == '1'%}
                            <button class="btn btn-primary mr-1" type="button">
                                <i class="fas fa-lock"> Data Lock</i>
                            </button>
                            {%else%}
                            <button class="btn btn-primary mr-1" type="button" hx-encoding="multipart/form-data"
                                    hx-post="{%url 'hr_department_info_save'%}" hx-target=".search-results"><i
                                    class="fas fa-edit">
                                Edit</i>
                            </button>
                            {%endif%}


                            <a href="{%url 'hr_department_info_demo_pdf' a.id%}" class="btn btn-primary"
                               target="_blank"><i class="fas fa-id-card-alt"> Print Demo</i> </a>
                            <a href="{%url 'hr_department_info_pdf' a.id%}" class="btn btn-success"
                               target="_blank"><i class="fas fa-print"> Final Print</i> </a>
                            <a class="btn btn-danger mr-1" href="{%url 'hr_department_info'%}"><i
                                    class="fas fa-sync-alt" style="text-decoration:none;"> Add New</i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>


</section>
{%endfor%}
{%else%}
<section class="section">

    <div class="row ">
        <div class="col-md-12" style="margin-bottom:10px;">
            <form class="form-inline" action="{%url 'hr_department_info'%}" method="POST">
                {%csrf_token%}
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                >Search Bill
                </button>
            </form>
        </div>
    </div>


    <form method="POST">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-8">
                {%csrf_token%}
                <div class="card" style="background-color:#CDB7B5">
                    <div class="card-header">
                        <h4>Marine Quotation</h4>


                    </div>
                    <div><h4 style="text-align:right; padding-right:10px;">Last Entry:{{bill}}</h4></div>

                    <div class="card-body">
                        <div class="row">
                            <div class="search-results col-md-12">
                                {%include 'software_admin/forms/message.html'%}
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Bill No.</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control phone-number" name="bno" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Bill Date.</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control phone-number" name="bdate" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>A/C. M/C</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control phone-number" name="acms" required
                                               value="A/C. M/S.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Client Name</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>

                                        <select class="form-control select2" name="clint_n" id="ccl">
                                            <option value="">Select Client Name</option>
                                            {%for x in client_n%}
                                            <option value="{{x.id}}">{{x.Name}}</option>
                                            {%endfor%}
                                        </select>

                                    </div>
                                </div>

                            </div>
                            <div class=" col-md-2">
                                <div class="from-group">
                                    <label>Search</label>
                                    <button type="button" id="client" class="btn btn-primary mr-1" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class=" col-md-12">
                                <div class="form-group">
                                    <label>Client Address</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <select class="form-control select2" name="department" id="sums">
                                            <option value=""> Select Address</option>

                                        </select>
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-10 col-md-4 ">
                                <div class="form-group">
                                    <label>Bank Name</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <select class="form-control select2" name="bank_n" id="bname">
                                            <option value="">Select Bank Name</option>
                                            {%for x in bank_n%}
                                            <option value="{{x.id}}">{{x.Name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-2 ">
                                <div class="from-group">
                                    <label>Search</label>
                                    <button type="button" id="bankb" class="btn btn-primary mr-1" type="button">Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Bank Branch</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <select class="form-control select2" name="bank_n" id="bbranch">
                                            <option value="">Select Bank Branch</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Interest Cover</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control phone-number" name="interestcover"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Voyage From</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <select class="form-control select2" name="vfrom">
                                            <option selected>Open this select menu</option>
                                            {%for x in voyagefrom%}
                                            <option value="{{x.id}}">{{x.Name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Voyage To</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <select class="custom-select select2" name="vTo">
                                            <option selected>Open this select menu</option>
                                            {%for x in voyageto%}
                                            <option value="{{x.id}}">{{x.Name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Transit By</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <select class="custom-select select2" name="tby" id="transit">
                                            <option selected>Open this select menu</option>
                                            {%for x in transitby%}
                                            <option value="{{x.id}}">{{x.Name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Voyage Via</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <select class="custom-select select2" name="vvia">
                                            <option selected>Open this select menu</option>
                                            {%for x in voyagevia%}
                                            <option value="{{x.id}}">{{x.Name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sum insured</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control phone-number" name="sinsured"
                                               value="0" id="sinsured">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Extra %</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control phone-number" name="extra1" value="0"
                                               id="extra1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Extra %</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control phone-number" name="extra2" value="0"
                                               id="extra2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Currency</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <select class="custom-select select2" name="currency">
                                            <option selected>Select Currency</option>
                                            {%for x in currenct%}
                                            <option value="{{x.id}}">{{x.Name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Rate %</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control phone-number" name="rate" value="0"
                                               id="rate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>BD Amount</label>
                                    <div class="input-group calcu">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control phone-number" name="dec" id="bdamount"
                                               readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Declaration</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control phone-number" name="dec"
                                               value="All other terms, conditions and warranties of the said Marine Covernote will remain unchanged.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Risk Covered</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <select class="custom-select select2" name="riskcoder">
                                            <option selected>Open this select menu</option>
                                            {%for x in risk%}
                                            <option value="{{x.id}}">{{x.Name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Insurance Type</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <select class="custom-select select2" name="insurance">
                                            <option selected>Open this select menu</option>
                                            {%for x in insurance%}
                                            <option value="{{x.id}}">{{x.Name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Producer</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-building"></i>
                                            </div>
                                        </div>
                                        <select class="custom-select select2" name="producer">
                                            <option selected>Open this select menu</option>
                                            {%for x in producer%}
                                            <option value="{{x.id}}">Id: {{x.id}}, Name: {{x.Employees_Name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary mr-1" type="button" hx-encoding="multipart/form-data"
                                    hx-post="{%url 'hr_department_info_save'%}" hx-target=".search-results"><i
                                    class="far fa-save"> Save</i>
                            </button>


                            <a class="btn btn-danger mr-1" href="{%url 'hr_department_info'%}"><i
                                    class="fas fa-sync-alt" style="text-decoration:none;"> Add New</i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                {%csrf_token%}
                <div class="card" style="background-color:#CDC9A5">
                    <div class="card-header">
                        <h4>Calculation</h4>


                    </div>
                    <div><h4 style="text-align:right; padding-right:10px;">Last Entry:{{bill}}</h4></div>

                    <div class="card-body">
                        <div class="row">
                            <div class="search-results col-md-6">
                                {%include 'software_admin/forms/message.html'%}
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Discount</label>
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <div class="input-group-text">-->
                                        <!--                                                <i class="far fa-building"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <input type="text" class="form-control phone-number" name="discount" id="dis" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Sp-Discount</label>
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <div class="input-group-text">-->
                                        <!--                                                <i class="far fa-building"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <input type="text" class="form-control phone-number" name="sp-discount" id="spdis" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Rate%</label>
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <div class="input-group-text">-->
                                        <!--                                                <i class="far fa-building"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <input type="text" class="form-control phone-number" name="mrate" id="mrate" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Marine Amount</label>
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <div class="input-group-text">-->
                                        <!--                                                <i class="far fa-building"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <input type="text" class="form-control phone-number" name="mamount" id="mamount" value="0">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>W & S Rate</label>
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <div class="input-group-text">-->
                                        <!--                                                <i class="far fa-building"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <input type="text" class="form-control phone-number" name="wrate" id="wrates" value="0.05">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>War & Srcc Amount</label>
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <div class="input-group-text">-->
                                        <!--                                                <i class="far fa-building"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <input type="text" class="form-control phone-number" name="wamount" id="wamount" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Net Amount</label>
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <div class="input-group-text">-->
                                        <!--                                                <i class="far fa-building"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <input type="text" class="form-control phone-number" name="netamount" id="netid" value="0">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Vat Rate</label>
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <div class="input-group-text">-->
                                        <!--                                                <i class="far fa-building"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <input type="text" class="form-control phone-number" name="vatrate" id="vatid" value="15" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Vat Amount</label>
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <div class="input-group-text">-->
                                        <!--                                                <i class="far fa-building"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <input type="text" class="form-control phone-number" name="vatamount" id="vataid" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Stamp Amount</label>
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <div class="input-group-text">-->
                                        <!--                                                <i class="far fa-building"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <input type="text" class="form-control phone-number" name="stamoamount" id="samount">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Gross Amount</label>
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <div class="input-group-text">-->
                                        <!--                                                <i class="far fa-building"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <input type="text" class="form-control phone-number" name="sp-discount">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Narration</label>
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <div class="input-group-text">-->
                                        <!--                                                <i class="far fa-building"></i>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
<!--                                        <input type="text" class="form-control phone-number" name="sp-discount">-->
                                        <textarea name="narration" id="" cols="40" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        </div>
    </form>


</section>
{%endif%}
<script>
 $("#client").click(function(){
<!--    alert("The paragraph was clicked.");-->
    $.ajax({
    url:"{%url 'uw_q_marine_client_select'%}",
    type:'GET',
    data:{
     client_n:$('#ccl').val()
    },
    success: function(response){
        x=response.client
        for (i=0;i<x.length;i++){ $('#sums').html('<option value="' + x[i].id+ '">' +x[i].Client_Branch+', '+x[i].Client_Branch_Address+'</option>')}
    },
    });
  });




</script>
<script>
 $("#bankb").click(function(){
<!--    alert("The paragraph was clicked.");-->
    $.ajax({
    url:"{%url 'uw_q_marine_bank_branch_select'%}",
    type:'GET',
    data:{
     bank_n:$('#bname').val()
    },
    success: function(response){
        x=response.bank
        for (i=0;i<x.length;i++){ $('#bbranch').html('<option value="' + x[i].id+ '">' +x[i].Bank_Branch+', '+x[i].Bank_Branch_Address+'</option>')}
    },
    });
  });




</script>
<script>
 $("#rate").blur(function(){

       suminsured=$('#sinsured').val()
     var extra =$('#extra1').val()
    var extra2=$('#extra2').val()
    var rate=$('#rate').val()
    var sumex1=parseInt(parseInt(suminsured) + (parseInt(suminsured)*parseInt(extra))/100 );
    var sumex2=sumex1 * (parseInt(extra2)/100);
    var sum=(sumex1 + sumex2) * rate;
    $('#bdamount').val(sum);

  });

  $("#mrate").blur(function(){
    var dis   = $('#dis').val();
    var spdis = $('#spdis').val();
    var mrate = $('#mrate').val();
    var bdamounts=$('#bdamount').val();
    var disc=(parseInt(bdamounts) - (parseInt(bdamounts) * (parseInt(dis)/100))) ;
    var marinem1 = (disc * parseFloat(mrate))/100;
    var marinem2 =marinem1-((marinem1 * parseInt(spdis))/100);
    $('#mamount').val(Math.round(marinem2));

  });

 $("#wrates").blur(function(){
    var amountbd=$('#bdamount').val();
    var wrated=$('#wrates').val();
    var wcc=(parseInt(amountbd) * (parseFloat(wrated)/100));
    $('#wamount').val(Math.round(wcc));

  });

 $("#wrates, #mrate").blur(function(){
    var warenet=$('#wamount').val();
    var marinenet=$('#mamount').val();
    var netamount=(parseInt(warenet) + parseInt(marinenet));
    $('#netid').val(Math.round(netamount));

  });


   $("#vatid").blur(function(){
    var  net=$('#netid').val();
    var vatr=$('#vatid').val();
    var neta=(parseInt(net) * (parseInt(vatr)/100));
    $('#vataid').val(Math.round(neta));

  });

  $("#samount").blur(function(){
    alert("The paragraph was clicked.");
    $.ajax({
    url:"{%url 'uw_q_marine_transitby_select'%}",
    type:'GET',
    data:{
     transits:$('#transit').val()
    },
    success: function(response){
        x=response.trans
         for (i=0;i<x.length;i++){ $('#samount').val(x[i].Stump_Rate)}
    },
    });

  });




</script>

{%endblock%}
