{%extends 'index.html'%}
{%load static%}
{%block contant%}
<section class="section" style="background-color:#F7CCB0; padding:20px;">
     <div class="card">
 <label style="text-align:center; font-size: large;font-style: italic;font-weight: 900;">Quotation</label>
     </div>
    <div class="row ">

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="{%url 'uw_q_marine'%}">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Marine Quotation</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/Marine.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Marine Hull Quotation</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/hul.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Fire Quotation</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/fire.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Motor Quotation</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/motor.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">MIS Quotation</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/mis.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">IAR Quotation</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/iar.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Power Plant IAR</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/power.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>


    </div>
</section>

<section class="section" style="background-color:#EEA6B0; padding:20px;">
     <div class="card">
 <label style="text-align:center; font-size: large;font-style: italic;font-weight: 900;">Cover Note</label>
     </div>
    <div class="row ">

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="{%url 'uw_q_marine_covernote'%}">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Marine</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/marinec.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Marine Hull</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/mhullc.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Fire</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/firec.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Motor</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/motor.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">MIS</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/mis.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">IAR</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/iar.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Power Plant</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/power.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>


    </div>
</section>
<section class="section" style="background-color:#BAC9DF; padding:20px;">
     <div class="card">
 <label style="text-align:center; font-size: large;font-style: italic;font-weight: 900;">Addendum</label>
     </div>
    <div class="row ">

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="{%url 'uw_marine_addendum'%}">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Marine</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/marinec.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Marine Hull</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/mhullc.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Fire</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/firec.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Motor</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/motor.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">MIS</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/mis.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">IAR</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/iar.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Power Plant</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/power.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>


    </div>
</section>
<section class="section" style="background-color:#F6A753; padding:20px;">
     <div class="card">
 <label style="text-align:center; font-size: large;font-style: italic;font-weight: 900;">Cover Note To Policy </label>
     </div>
    <div class="row ">

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Marine</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/marinec.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Marine Hull</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/mhullc.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Fire</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/firec.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Motor</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/motor.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">MIS</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/mis.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">IAR</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/iar.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Power Plant</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/power.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>


    </div>
</section>
<section class="section" style="background-color:#BFD9A8; padding:20px;">
     <div class="card">
 <label style="text-align:center; font-size: large;font-style: italic;font-weight: 900;">Endorsement</label>
     </div>
    <div class="row ">

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Marine</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/marinec.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Marine Hull</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/mhullc.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Fire</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/firec.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Motor</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/motor.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">MIS</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/mis.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">IAR</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/iar.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Power Plant</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/power.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>


    </div>
</section>
<section class="section" style="background-color:#9BA8B7; padding:20px;">
     <div class="card">
 <label style="text-align:center; font-size: large;font-style: italic;font-weight: 900;">Direct Policy</label>
     </div>
    <div class="row ">

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Marine</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/marinec.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Marine Hull</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/mhullc.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Fire</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/firec.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Motor</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/motor.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">MIS</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/mis.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">IAR</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/iar.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="">
            <div class="card">
                <div class="card-statistic-4">
                    <div class="align-items-center justify-content-between">
                        <div class="row ">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                <div class="card-content">
                                    <h5 class="font-15">Power Plant</h5>
<!--                                    <h2 class="mb-3 font-18">258</h2>-->
                                    <p class="mb-0"><span class="col-green">20%</span> Increase</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                <div class="banner-img">
                                    <img src="{%static 'image/power.png'%}" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>


    </div>
</section>
{%endblock%}